
# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs text
*.lua text
*.txt text
*.markdown text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sln text eol=crlf
*.csproj text eol=crlf
*.config text eol=crlf

*.snk binary
