.DS_Store

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# NuGet Packages Directory
packages
*.nupkg

*.pidb
*.userdata
*.userprefs
*.suo
*/_ReSharper.*
*.cache
*.user
vs2010/AluminumLua.Tests/bin/
nuget/lib/
.dll
